body{
    color: white;
}

.compara-carta p{
    font-size: large;
    margin-top: 5px;
}

.fa-chevron-up{
    color: #0CFF00;
}

.fa-chevron-down{
    color: red;
}

.fa-minus{
    color : paleturquoise;
}

.indicator {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -54px;
    width: 100%;
    height: 100%;
    margin: 0 ;
    user-select: none;
}

.iconos-comparativa{
    font-size: 30px;
}

.compara-carta{
    background-color: #3e3e3e;
    border: 1px solid #505050;
}

.vs{
    font-size: 70px;
    font-style: italic;
}

.datos-comparar{
    border-top: 1px solid #505050;
    padding: 20px;
}