.detalle-carta p, h1, h4, .h4{
    color: white;
}

.detalle-carta{
    background-color: #3e3e3e;
    border: 1px solid #505050;
}


.testDiv {
    margin-left: 20px;
}

.boton-detalles{
    width: 100px;
    height: 35px;
    background-color: rgba(211, 211, 211, 0.11);
    border: none;
}

.boton-detalles:focus{
    width: 100px;
    height: 35px;
    background-color: rgba(211, 211, 211, 0.11);
    border: none;
}