.opcion_cartas {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #3e3e3e;
    border: 1px solid #505050;
  }
  
  .cartas_disabled {
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.514);
  }
  