/* Style the accordion content text */
.opcion_mazo {
  /* padding: 5px; */
  margin-top: 10px;
  height: auto;
  text-align: left;
}

.mazos {
  background-color: #3e3e3e;
  border: 1px solid #505050;
}

.iconoTrash {
  color: red;
  font-size: 25px;
}

.boton-mazos {
  color: white;
  font-size: 15px;
  text-align: left;
}

.disabled{
  opacity: 0.5;
}

.boton-mazos:hover {
  color: grey;
}
